# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.vite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Go binaries (anywhere in project)
backend/monkey-api
backend/monkey-playground-backend
frontend/src/wasm/monkey-api
# WASM build artifacts
*.wasm
src/wasm/monkey.wasm
